body   {  margin: 0;  padding: 0;  }
body * {  font-family: Arial, Helvetica, sans-serif;  }

@media (min-width: 768px) {
  #wd-kanbas .wd-main-content-offset {
    padding-left: 140px !important;
  }
}

.list-group.wd > .list-group-item.active {
  color: black;
  background-color: white;
  border-left: 3px solid black !important;
}

.btn-secondary {
  --bs-btn-color: #000 !important;
  --bs-btn-bg: #c7cdd1 !important;
  --bs-btn-border-color: #c7cdd1 !important;
  --bs-btn-hover-color: #fff !important;
}
.bg-secondary {
  --bs-secondary-rgb: 199, 205, 209;
}
.list-group-item {
  --bs-list-group-border-color: gray;
}
.wd-lesson {
  border-left: 3px solid green !important;
}

.wd-assignment-date::-webkit-calendar-picker-indicator {
  opacity: 0;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background: white;
  padding: 20px;
  border-radius: 8px;
  max-width: 500px;
  width: 100%;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 1001;
}